.hope {
    position: absolute;
    font-size: 38px;
    color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
    transform: rotate(20deg);
    left: 75%;
    transform-origin: center;
    animation: float 8s ease-in-out infinite;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    top: 80%;
}

@keyframes float {
    0%, 100% {
        transform: rotate(20deg) translate(-50%, -50%);
    }
    50% {
        transform: rotate(20deg) translate(-50%, -60%);
    }
}
