section.issues {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 40px;
    align-items: center;
    padding-right: 80px;
}

section.issues h1 {
    font-size: 72px;
    color: var(--primary-color);
    margin-bottom: 60px;
    grid-column: 1 / -1;
    align-self: baseline;
}

section.issues h2 {
    font-size: 30px;
    margin-top: -130px;
    grid-column: 1 / -1;
}

section.issues .content {
    padding-left: 40px;
}

section.issues ul {
    margin: 0;
    padding: 0;
    align-self: baseline;
}

section.issues ul li {
    font-size: 24px;
    color: var(--primary-color);
    opacity: 0.8;
    margin-bottom: 32px;
    padding-left: 40px;
    position: relative;
    line-height: 1.4;
    transition: opacity 0.3s ease;
}
