/* Title slide styles */
section.teal {
    background-color: var(--teal-bg);
    background-image: url('./assets/title-background.png');
    color: white;
}

section.teal::before,
section.teal::after {
    display: none;
}

section.teal h1 {
    color: white;
    margin-top: 25%;
    margin-left: 25%;
    margin-bottom: 0;
    font-size: 88px;
}

section.teal .subtitle {
    background-color: white;
    padding: 6px 16px;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 1em;
    color: var(--primary-color);
    margin-left: 25%;
    font-family: var(--font-primary);
}

section.teal figure {
    height: 90% !important;
}
